<div class='card'>
    <form (ngSubmit)="AddAuthor()">
<div class='card-header'>
 ADD AUTHOR
</div>
<div class='card-body'>            
  <div class='table-responsive'>
    <table class='table'>       
    
      <tbody>  
        <tr>
          <td> <label>Author Id</label></td>
          <td><input type="text" name="a_id" [(ngModel)]="authorDetail.authorid" required/></td>                  
        </tr>  
          <tr>
              <td> <label>Author Name</label></td>
              <td><input type="text" name="a_name" [(ngModel)]="authorDetail.authorname"required/></td>                  
            </tr>   
            <tr>
                <td><label>Work</label></td>
                <td><input type="text" name="a_work" [(ngModel)]="authorDetail.work"required/></td>                  
              </tr>  
              <tr>
                <td><label>Published</label></td>
                <td><input type="text" name="a_published" [(ngModel)]="authorDetail.published"required/></td>                  
              </tr>  
              <tr>
                <td><label>Author imageUrl</label></td>
                <td><input type="text" name="a_image" [(ngModel)]="authorDetail.imageUrl"required/></td>                  
              </tr>  
              <tr>
                <td></td>
                <td><input type="submit" value="Submit" /></td>                  
              </tr>             
      </tbody>
    </table>
  </div>
</div>
</form>
</div>
