<div class='card'>
    <form (ngSubmit)="editAuthor()">
<div class='card-header'>
 Edit Author
</div>
<div class='card-body'>            
  <div class='table-responsive'>
    <table class='table'>       
    
      <tbody> 
        <tr>
          <td> <label>Author Id</label></td>
          <td><input type="text" name="a_id" [(ngModel)]="authorDetail.authorid"/></td>                  
        </tr> 
        <tr>
          <td> <label>Author Name</label></td>
          <td><input type="text" name="a_name" [(ngModel)]="authorDetail.authorname"/></td>                  
        </tr>   
        <tr>
            <td><label>Work</label></td>
            <td><input type="text" name="a_work" [(ngModel)]="authorDetail.work"/></td>                  
          </tr>  
          <tr>
            <td><label>Published</label></td>
            <td><input type="text" name="a_published" [(ngModel)]="authorDetail.published"/></td>                  
          </tr>  
          <tr>
            <td><label>Author imageUrl</label></td>
            <td><input type="text" name="a_image" [(ngModel)]="authorDetail.imageUrl"/></td>                  
          </tr>  
          <tr>
                <td></td>
                <td><input type="submit" value="Submit" /></td>                  
              </tr>             
      </tbody>
    </table>
  </div>
</div>
</form>
</div>

