<div class='card'>
  <div class='card-header'>
   {{pageTitle}}
  </div>
  <div class='card-body'>            
    <div class='table-responsive'>
      <table class='table'
            *ngIf = 'authors && authors.length'>
        <thead>
          <tr>
            <th>
              <!-- <button class='btn btn-primary'
              (click)='toggleImage()'>
                {{showImage? 'Hide' : 'Show'}} Image
              </button> -->
            </th>
            <th>Author Name</th>
            <th>Work</th>
            <th>Published</th>
          </tr>
         
        </thead>
        <tbody>  
            <tr *ngFor='let author of authors'>
                <td><img 
                  [src] = 'author.imageUrl' 
                  [style.width.px] = 'imageWidth' 
                  [style.margin.px] = 'imageMargin'></td>
                <td>{{ author.authorname }}</td>
                <td>{{ author.work }}</td>
                <td>{{ author.published }}</td>
  
                <td>
                  <button class="btn btn-warning" style="cursor:pointer" *ngIf="_auth.loggedIn()"  (click)="editAuthor(author)" style="margin-left: 20px;"> Update</button>&nbsp;&nbsp;
                  <button class="btn btn-danger" style="cursor:pointer" *ngIf="_auth.loggedIn()" (click)="deleteAuthor(author)"> Delete</button>
                </td>
              </tr>              
        </tbody>
      </table>
    </div>
  </div>